@import url('https://fonts.googleapis.com/css2?family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crafty+Girls&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lavishly+Yours&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

@import "tailwindcss";

@theme {
    --font-sans: 'Sacramento', cursive;
      --font-display: 'Figtree', sans-serif;
}

:root {
    --background-color: rgb(236, 234, 222);
}



body {
    @apply font-display;
    font-style: normal;
    font-weight: 400;
    /*font-size: 20px;*/
    line-height: 28px;
    color: rgb(255, 255, 255);
    background-color: var(--background-color);
}

.container-content {
    max-width: 900px;
}

.lavish-description {
    @apply font-sans text-7xl;
}

/* Buttons */
.btn-book {
    @apply bg-[white] cursor-pointer z-1 text-black;
    position: relative;
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.45rem 1.5rem;
    /*color: white;*/
    font-weight: 600;
    border: none;
    border-radius: 0.5rem; /* Rounded corners
    /*cursor: pointer;*/
    text-decoration: none;
    transition: all 0.3s ease;
    /*z-index: 1;*/
}

.btn-book::after {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    /*background-color: rgba(0, 0, 0, 0.3); /* Dark shadow */
    border-radius: 0.5rem;
    z-index: -1;
    transition: all 0.3s ease;
}

/* Optional: Hover effect to make shadow expand more */
.btn-book:hover::after {
    top: -4px;
    left: -4px;
    right: -4px;
    bottom: -4px;
    background-color: rgba(0, 0, 0, 0.5);
}

.btn-book:hover {
    @apply bg-[#4B515F] text-white;
    /*background-color: #2563eb;*/
    transform: translateY(-3px);
}

.btn-book svg {
    width: 1rem;
    height: 1rem;
}

.activity-link {
    @apply bg-white px-5 py-2;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    /*padding: 1rem 1.75rem;*/
    /*border: 2px solid currentColor;*/
    border-radius: 9999px;
    text-decoration: none;
    color: inherit;
    transition: padding 0.3s ease;
    z-index: 1;
}

.activity-link:hover {
    @apply px-7 py-2;
    /*padding: 1rem 3rem; /* Expands left and right padding */
}
